/* BASE / UTILITY */

html {
    /* Will be made visible by JQuery after full load, to prevent loading before #waves. */
    visibility: hidden;

    background-color: #478F91;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

html, body {
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -.1rem;

    margin-top: 0px;
    margin-bottom: 32px;

    text-transform: uppercase;
}

h1 {
    font-size: 4.2rem;
}

b {
    font-weight: 700;
}

img.undraggable {
    pointer-events: none;
}

img.mini {
    width: 384px;
    height: 185.7px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}

.bordered {
    border: 1px solid #222;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.no-margin {
    margin: 0;
}

/* HEADER */

div.header {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

/* IMAGES */

@media only screen and (min-device-width : 730px) {
    #boat {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-device-width : 730px) {
    #boat {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

#boat {
    z-index: 0;

    width: 100vw;
}

#waves {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
}

#birds {
    position: absolute;
    left: 52vw;
    top: -2vh;
}

@media only screen and (max-width : 730px) {
    #birds {
        left: 50vw;
        top: 13vh;
    }
}


#giraffe {
    position: absolute;
    left: 0;
    bottom: 0;
}

@media only screen and (max-width : 1350px) {
    #giraffe {
        visibility: hidden;
    }
}

#dog {
    position: absolute;
    right: -60px;
    bottom: -25px;
}

@media only screen and (max-width : 1200px) {
    #dog {
        visibility: hidden;
    }
}

#lion {
    position: absolute;
    right: 100px;
    bottom: -45px;
}

@media only screen and (max-width : 1450px) {
    #lion {
        visibility: hidden;
    }
}

/* ROWS */

div.row {
    position: relative;
    z-index: 1;

    width: 100%;
    padding: 7rem 0;
}

div.row.dark {
    background-color: #294546;
    color: #fff;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

div.row.light {
    background-color: #DEAE57;
    color: #222;
}

div.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

    padding: 0 16px;
}

div.column {
    display: flex;
    flex-direction: column;
    gap: 2.9vh;
    align-items: center;

    width: 25%;
}

div.column.wide {
    width: 50%;
    gap: 3.5vh;
}

/* SPECIAL CASES */

div.showcase {
    display: grid;

    /* Taken from the expected sizes of the images, below. */
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: 12.9834895833vw 12.9834895833vw 12.9834895833vw 12.9834895833vw;

    grid-gap: 16px;
    padding: 16px;

    justify-content: center;
}

img.showcase {
    /* Retains ratio of 1920 x 1080. */
    width: 23vw;
    height: 12.9834895833vw;

    outline: none;
}

div.showcase.inner {
    gap: 1.7vw;
}

.fancybox-active {
  width: 100% !important;
}

/* YOUTUBE EMBED */

svg.yt {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(20%);
    text-align: center;
    z-index: 1;

    height: 60%;
    width: 60%;
}

.yir {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    color: #222;

    /* Account for the gap between the two images in the rows above and below this vid. */
    width: calc(46vw + 16px);
    height: calc(25.9669791666vw + 16px);

    outline: none;
}

.yir:hover {
    color: #fff;
}

/* TOOLS */

div.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7vw;
}

img.tool {
    display:block;
    margin:auto;

    width: 23vw;
}

/* RULES */

ol {
    list-style-type: upper-roman;
}

li {
    margin-top: 2em;
}

/* APPLICATION */

pre > code {
    color: #222;
    background-color: #DEAE57;

    font-family: 'Poppins', sans-serif;

    display: block;
    padding: 1rem 1.5rem;
    padding-left: 1.5rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-left: 30px;
}
