/* BASE / UTILITY */

html {
    background-color: #478F91;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    /* Prevent scrolling while the page loads. This is disabled via JS after header images are loaded.. */
    overflow-y: hidden;
}

html, body {
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -.1rem;

    margin-top: 0px;
    margin-bottom: 32px;

    text-transform: uppercase;
}

h1 {
    font-size: 4.2rem;
}

/* Reduce heading size on mobile, to keep on one line. */
@media only screen and (max-width : 515px) {
    h1 {
        font-size: 3.3rem;
    }
}
@media only screen and (max-width : 415px) {
    h1 {
        font-size: 3.0rem;
    }
}

b {
    font-weight: 700;
}

a {
    outline: none;
}

img.undraggable {
    pointer-events: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}

.bordered {
    border: 1px solid #222;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.bordered.light {
    border: 1px solid #478F91;
}

.no-margin {
    margin: 0;
}

/* HEADER */

div.header {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

/* Reduce header size on mobile, due to bottom bar. */
@media only screen and (max-width : 500px) {
    div.header {
        height: 90vh;
    }
}

/* IMAGES */

#boat {
    /* Will be made visible by JQuery after full load, to prevent rendering before downloaded. */
    visibility: hidden;

    position: fixed;
    bottom: 0;
    left: 16.25vw;
    
    z-index: 0;

    width: 67.5vw;
}

@media only screen and (max-device-width : 700px) {
    #boat {
        position: absolute;
        bottom: 0;
    }
}

#waves {
    /* Will be made visible by JQuery after full load, to prevent rendering before downloaded. */
    visibility: hidden;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
}

#birds {
    position: absolute;
    right: 8px;
    top: 16px;

    width: 406px;
}

@media only screen and (max-width : 865px) {
    #birds {
        visibility: hidden;
    }
}


#giraffe {
    position: absolute;
    left: -20px;
    bottom: -65px;

    width: 186px;
}

@media only screen and (max-width : 1335px) {
    #giraffe {
        visibility: hidden;
    }
}

#dog {
    position: absolute;
    right: 16px;
    bottom: -150px;

    width: 248px;
}

@media only screen and (max-width : 1270px) {
    #dog {
        visibility: hidden;
    }
}

#lion {
    position: absolute;
    right: 52px;
    bottom: -32px;

    width: 205px;
}

@media only screen and (max-width : 1450px) {
    #lion {
        right: 0;
    }
}

@media only screen and (max-width : 1170px) {
    #lion {
        visibility: hidden;
    }
}

/* ROWS */

div.row {
    position: relative;
    z-index: 1;

    width: 100%;
    padding: 7rem 0;
}

@media only screen and (max-device-width : 730px) {
    div.row {
        padding: 1rem 0;
    }
}

div.row.dark {
    background-color: #294546;
    color: #fff;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

div.row.light {
    background-color: #DEAE57;
    color: #222;
}

div.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

    padding: 0 16px;
}

/* SPECIAL CASES */

div.showcase {
    display: grid;

    /* Taken from the expected sizes of the images, below. */
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: 12.9834895833vw 12.9834895833vw 12.9834895833vw 12.9834895833vw;

    grid-gap: 1vw;
    padding: 1vw;

    justify-content: center;
}

img.showcase {
    /*
        Retains ratio of 2560x1440.
        Height has to be forced, as some images are 1080p (1920x1080) which is a slightly different ratio.
    */
    width: 23vw;
    height: 12.9375vw;

    box-sizing: border-box;

    outline: none;
}

.fancybox-active {
  width: 100% !important;
}

/* YOUTUBE EMBED */

svg.yt {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(20%);
    text-align: center;
    z-index: 1;

    height: 60%;
    width: 60%;
}

.yir {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    color: #222;

    /* Account for the gap between the two images in the rows above and below this vid. */
    width: calc(46vw + 1vw);
    height: calc(25.9669791666vw + 1vw);
    box-sizing: border-box;

    outline: none;
}

.yir:hover {
    color: #fff;
}

/* TOOLS */

div.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7vw;
}

img.tool {
    display:block;
    margin:auto;

    width: 23vw;
}

/* RULES */

ol {
    list-style-type: upper-roman;
}

li {
    margin-top: 2em;
}

/* APPLICATION */

pre > code {
    color: #222;
    background-color: #DEAE57;

    font-family: 'Poppins', sans-serif;

    display: block;
    padding: 1rem 1.5rem;
    padding-left: 1.5rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-left: 30px;
}
