/* BASE / UTILITY */

html, body {
    margin: 0;

    overflow-x: hidden;

    background-color: #478F91;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -.1rem;

    margin-top: 0px;
    margin-bottom: 32px;

    text-transform: uppercase;
}

h1 {
    font-size: 4.2rem;
}

b {
    font-weight: 700;
}

img.undraggable {
    pointer-events: none;
}

img.mini {
    width: 384px;
    height: 185.7px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}

.bordered {
    border: 1px solid #222;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.no-margin {
    margin: 0;
}

/* HEADER */

div.header {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

/* IMAGES */

#boat {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;

    width: 100%;

    /* Will be made visible by JQuery after full load, to prevent loading before #waves. */
    visibility: hidden;
}

#waves {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
}

#birds {
    position: absolute;
    left: 52vw;
    top: -2vh;
}

#dog {
    position: absolute;
    right: -60px;
    bottom: -25px;
}

#giraffe {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ROWS */

div.row {
    position: relative;
    z-index: 1;

    width: 100%;
    padding: 32px 0;
}

div.row.dark {
    background-color: #294546;
    color: #fff;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

div.row.light {
    background-color: #DEAE57;
    color: #222;
}

div.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

div.column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;

    width: 25%;
}

div.column.wide {
    width: 50%;
    gap: 3.5vh;
}

/* SPECIAL CASES */

div.showcase {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.showcase.inner {
    gap: 2.5vw;
}

img.showcase {
    width: 23vw;

    outline: none;
}


.fancybox-active {
  width: 100% !important;
}

/* YOUTUBE EMBED */

svg.yt {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(50% - 100px);
    text-align: center;
    z-index: 1;

    height: 200px;
    width: 200px;
}

.yir {
    display: block;
    position: relative;

    width: 49vw;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    color: #222;

    outline: none;
}

.yir:hover {
    color: #fff;
}

/* RULES */

.rules {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 22vh;
}

.rule {
    text-align: center;

    padding: 8px;
    width: 22%;
    height: 100%;
}

.rule.wide {
    box-sizing: border-box;

    margin-top: 32px;
    width: 100%;
}

/* APPLICATION */

pre > code {
    color: #222;
    background-color: #DEAE57;

    font-family: 'Poppins', sans-serif;

    display: block;
    padding: 1rem 1.5rem;
    padding-left: 1.5rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-left: 30px;
}